<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Privacy Policy | Torio Kids 2016</title>
<meta name="viewport" content="target-densitydpi=device-dpi; width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="HandheldFriendly" content="true" />
<link rel="stylesheet" type="text/css" href="css/fontAttach/fontattach.css">
<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="css/lightbox.css">
<link rel="stylesheet" type="text/css" href="css/selectordie.css">
<link rel="stylesheet" type="text/css" href="css/toriokids2016.css">
<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/selectordie.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>

<body>
	<div class="wrapper">
    	<header>
        	<div class="mainLogo">
            	<img src="images/toriologo.png">
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="#">BOYS</a>
                    <div class="dropdownMenu">
                        <ul>
                            <li><a href="#">Jumper / Dungaree Sets</a></li>
                            <li><a href="#">Top & Bottom Sets</a></li>
                            <li><a href="#">Tees & Tops</a></li>
                            <li><a href="#">Bottoms</a></li>
                            <li><a href="#">Pajamas</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">GIRLS</a>
                    <div class="dropdownMenu">
                        <ul>
                            <li><a href="#">Jumper / Dungaree Sets</a></li>
                            <li><a href="#">Top & Bottom Sets</a></li>
                            <li><a href="#">Tees & Tops</a></li>
                            <li><a href="#">Bottoms</a></li>
                            <li><a href="#">Pajamas</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">BEST SELLER</a></li>
                <li><a href="#">SALE</a></li>
            </ul>
        </nav>
        <div class="userNav">
            <ul>
                <li><a href="#" class="profileIcon">profile</a></li>
                <li><a href="javascript:void(0)" class="searchIcon" onClick="show_search_popup();">search</a></li>
                <li><a href="#" class="cartIcon">cart</a></li>
            </ul>
        </div>
        <section>
        	<div class="contentWrapper">
                <div class="mainWrapper nobanner">
                	<div class="legalAgreement">
                    	<div class="contentElement">
                        	<h2>privacy policy</h2>
                            <p>Selamat Datang & Terima Kasih atas kunjungan anda di situs kami TorioKids.com.</p>
                            <br>
							<p>Kami sangat menghargai & berkomitmen untuk memastikan bahwa privasi Anda dilindungi. Kebijakan Privasi ini dapat berubah dari waktu ke waktu tanpa pemberitahuan terlebih dahulu, oleh karena itu kami menyarankan setiap pengunjung yang akan menggunakan situs ini untuk memeriksa halaman ini secara berkala agar Anda dapat mengetahui perubahan-perubahan tersebut.</p>
                            <p>Dengan mengakses dan menggunakan layanan pada situs kami, Anda dianggap telah menerima semua kegiatan yang dijelaskan dalam kebijakan privasi ini.</p>
                            <p>Kebijakan privasi ini akan memberitahukan anda tentang perihal:</p>
                            <ul>
                                <li>Jenis informasi yang dikumpulkan oleh Torio Kids</li>
                                <li>Bagaimana informasi tersebut akan digunakan</li>
                                <li>Komitmen kami untuk melindungi keamanan dari informasi tersebut</li>
                                <li>Bagaimana anda dapat menghubungi Torio Kids</li>
                            </ul>
                            <br>
							<h4>Jenis Informasi Yang Kami Minta</h4>
							<p>Kami menerima dan menyimpan informasi yang anda berikan secara sukarela disaat anda akan membeli dari Torio Kids, registrasi di situs TorioKids.com, bergabung dengan mailing list kami, atau di waktu-waktu lain dimana anda memberikan informasi tentang diri anda.</p>
							<p>Identitas diri yang Kami dapat secara sukarela dari Anda melalui situs TorioKids.com adalah:</p>
                            <ul>
                                <li>Nama lengkap</li>
                                <li>Alamat surat elektronik (email)</li>
                                <li>Nomor Telepon</li>
                                <li>Alamat lengkap</li>
                                <li>Alamat pengiriman</li>
   							</ul>
   							<p>Informasi kartu kredit berupa:</p>
                            <ul>
                                <li>Nomor kartu kredit</li>
                                <li>Masa berlaku kredit</li>
                                <li>Nama dan umur anak anda</li>
                                <li>Informasi lain yang anda berikan secara sukarela</li>
   							</ul>
							<br>
							<p>Kami mengasumsikan bahwa semua informasi dan perubahan-perubahan yang Anda berikan di atas sekarang, atau di masa yang akan datang adalah akurat dan benar. Apabila informasi dan perubahan-perubahan yang Anda berikan tersebut ternyata terbukti tidak benar, maka dengan ini Kami menyatakan tidak bertanggung jawab atas segala akibat yang dapat terjadi sehubungan dengan pemberian informasi dan perubahan-perubahan yang tidak benar tersebut.</p>
							<br>
							<h4>Penggunaan Pelacakan (Cookies) & Teknologi Lainnya</h4>
							<p>Kami ingin anda mengetahui bahwa kami menggunakan cookie & teknologi pelacakan untuk membantu melayani dan mengenal anda secara lebih baik disaat anda mengunjungi TorioKids.com. Teknologi pelacakan dan cookie bermanfaat untuk mengumpulkan informasi seperti jenis browser dan system operasional, mendata jumlah pengunjung situs dan memahami cara pengunjung menggunakan situs. Informasi pribadi tidak dapat dikumpulkan melalui cookie dan teknologi pelacak lainnya. Namun, jika Anda sebelumnya memberikan informasi identitas pribadi, cookie dapat membantu untuk berhubung terhadap informasi tersebut.</p>
							<br>
							<h4>Penggunaan Informasi</h4>
							<p>Kami memerlukan informasi sebagaimana tersebut di atas untuk:</p>
                            <ul>
                                <li>Memberikan ketepatan waktu dan konfirmasi yang akurat dari semua permintaan</li>
                                <li>Mengatur pembayaran untuk semua pemesanan</li>
                                <li>Mengirimkan pesanan yang telah anda lakukan</li>
                                <li>Mendaftarkan anda dengan TorioKids.com</li>
                                <li>Menjawab dan melayani semua pertanyaan ataupun permintaan yang anda ajukan</li>
                                <li>Memberikan informasi & promosi secara berkala bila terdapat suatu penawaran dan/atau promosi atas   produk-produk baru, penawaran khusus atau informasi lain yang berguna bagi anda di TorioKids.com</li>
                                <li>Mengumpulkan data transaksi antara Anda dengan Toriokids.com dan ataupun mitra usaha Kami, termasuk informasi mengenai penggunaan anda terhadap produk-produk dan layanan yang Kami sediakan.</li>
                                <li>Catatan internal/administrasi Kami.</li>
    						</ul>
							<br>
							<h4>Komitmen Untuk Keamanan Data Pribadi</h4>
							<p>Kami berkomitmen untuk memastikan bahwa informasi yang Anda berikan kepada Kami dalam keadaan aman. Untuk mencegah akses tidak sah, Kami melakukan tindakan standard pengamanan fisik, elektronik, dan prosedur manajerial yang diperlukan untuk melindungi informasi Anda yang Kami kumpulkan secara online.</p>
							<br>
							<p>Semua data pribadi yang anda berikan atapun diakses melalui TorioKids.com diamankan melalui server pribadi yang juga kami lindungi dengan standard komersil untuk mencegah akses yang tidak di inginkan. Tetapi harap dapat disadari, bahkan dengan semua langkah-langkah keamanan yang telah kami lakukan, perlindungan keamanan tetap tidak dapat dijamin secara sempurna.</p>
							<br>
							<h4>Koneksi Ke Website Lain</h4>
							<p>Untuk keperluan referensi dan kenyamanan Anda, Website Kami mungkin menyediakan link ke situs-situs lain. Situs-situs diluar TorioKids.com mempunyai kebijakan pengamanan privasi yang berbeda dan oleh karena itu Kami tidak bertanggung jawab untuk melindungi privasi dan informasi apapun yang Anda berikan ketika mengunjungi situs-situs tersebut.</p>
							<br>
							<p>Entitas apapun yang Anda pilih sebagai kontak atau berinteraksi baik yang terdaftar dalam direktori ataupun di tempat lain selain dari Situs TorioKids.com, adalah sepenuhnya tanggung jawab layanan tersebut pada Anda, dan Anda setuju bahwa Situs TorioKids.com tidak dapat dikenakan tindakan apapun untuk kerusakan atau biaya yang keluar atas interaksi yang terjadi antara Anda dengan layanan yang bersangkutan.</p>
							<br>
							<h4>Kontak Informasi Untuk Perihal Privasi Anda</h4>
							<p>Apabila Anda memiliki pertanyaan, keluhan, atau komentar tentang kebijakan privasi kami, Anda dapat menghubungi kami dengan menggunakan informasi di bawah ini:</p>
							<p><strong>PT Torio Multi Nasional</strong></p>
							<p><strong>Head Office:</strong></p>
							<p><strong>Green Garden Blok Y3 No. 23</strong></p>
							<p><strong>Jakarta Barat</strong></p>
							<p><strong>PH: +62-21-5828436 (attn: Ibu Dwi)</strong></p>
							<p><strong>FAX: +62-21-5802781</strong></p>
							<p><strong>EMAIL: cs@toriokids.com</strong></p>
							<p>Syarat-syarat dan ketentuan dalam Kebijakan Privasi ini tunduk kepada hukum di wilayah Negara Kesatuan Republik Indonesia.</p>
							<br>
							<p><strong>Kami tidak akan menjual, mendistribusikan, atau menyewakan informasi pribadi Anda kepada pihak ketiga, kecuali jika Kami diharuskan oleh undang-undang yang berlaku di Indonesia untuk melakukannya.</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
        	<div class="upperNav">
            	<ul>
                	<li><a href="#">ABOUT TORIO KIDS</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">STORE</a></li>
                    <li><a href="#">E-CHANNEL</a></li>
                    <li><a href="#">NEED HELP?</a></li>
                    <li><a href="#">PAYMENT CONFIRMATION</a></li>
                </ul>
                <div class="bankLink">
                	<p>Secure Payments via</p>
                    <img src="images/bankicon.png">
                </div>
            </div>
            <div class="bottomNav">
            	<ul>
                	<li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
                <p>Copyright 2016 &copy; Torio Kids. All rights reserved.</p>
            </div>
        </footer>
    </div>
    <div class="popupWrapper">
    	<div class="overlay" onClick="hide_popup();"></div>
        <div class="popupBox" id="searchPopup">
            <a href="javascript:void(0)" class="closeBtn" onClick="hide_popup();"></a>
            <h3>SEARCH</h3>
            <input placeholder="Search Here" id="searchText">
            <a href="#" class="defBtn">Search Your Style</a>
        </div>
    </div>
</body>
</html>
