RewriteEngine On

RewriteCond %{HTTP_HOST} ^toriokids\.com$ [NC]
RewriteRule ^(.*)$ http://www.toriokids.com/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?/$1 [L]
