<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Torio Kids</title>
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/torio.css" rel="stylesheet" type="text/css" />
<link href="css/fontAttach/stylesheet.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.1.8.js"></script>
<script type="text/javascript" src="js/jquery.slides.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>

<body>
<div id="container">
	<div id="header">
    	<div class="headerBox">
    		<div id="logoContainer"><h1><a id="logo" href="index.html" title="Torio Kids">Torio Kids</a></h1>
        	</div>
            <div class="headerRight">
            	<div class="headerRightTop">
                    <div class="login">
                    	Please <a class="loginBtn" href="#">login</a> or <a class="regBtn" href="#">register</a> here
                    </div>
                    <p>Welcome, Guest!</p>
                </div>
                <div class="headerRightBot">
                	<div class="shoppingCart">
                    	<div class="shoppingCartLeft">
                        	<div class="notif"><a href="#" class="notifNumber">01</a></div>
                        </div>
                        <div class="shoppingCartRight">
                        	<p class="bigBlueColor">IDR. 500.000</p>
                            <form><input type="submit" class="checkoutBtn" value="Checkout" /></form>
                        </div>
        			</div>
                </div>
            </div>
        </div>
    </div>
    <div id="nav">
    	<div class="navBox">
            <div class="navMenu">
            	<ul>
                    <li><a href="landing.html">Baby Boy</a>
                		<ul>
                    		<li><a href="#"><span>New Arrivals</span></a></li>
                        	<li><a href="product_list.html"><span>Toddler</span></a></li>
                        	<li><a href="#"><span>Infant</span></a></li>
                        </ul>
                    </li>
                    <li><a href="#">Baby Girl</a>
                    	<ul>
                    		<li><a href="#"><span>New Arrivals</span></a></li>
                        	<li><a href="#"><span>Toddler</span></a></li>
                        </ul></li>
                    <li><a href="#">Boys</a>
                    	<ul>
                    		<li><a href="#"><span>New Arrivals</span></a></li>
                    	</ul>
                    </li>
                    <li><a href="#">Girls</a></li>
                    <li><a href="#">Clearance Sale</a>
                        <ul>
                            <li><a href="#"><span>New Arrivals</span></a></li>
                            <li><a href="#"><span>Toddler</span></a></li>
                            <li><a href="#"><span>Infant</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="searchBox">
            	<form>
                	Search<input class="searchBoxInputTxt" type="text" /><input class="searchBoxInputBtn" type="submit" />
                </form>
            </div>
        </div>
    </div>
    <div id="content">
    	<div class="noBg"><a href="landing.html">Baby Boy</a> &gt; <a href="product_list.html">Toddler</a> &gt; <a class="selectedBreadCrumb" href="product_detail.html" >Product Name</a>
        </div>
        <div class="product">
        	<div class="productCon">
            	<div class="productImage">
            		<a href="#"><img src="images/fashionBoy.jpg" /></a>
            		<a href="product_detail.html" class="viewDetail"></a>
            	</div>
                <div class="productTxt">
                	<h3 class="productName"><a href="#"><b>Product Name</b></a></h3>
            		<p><b>IDR. 123.456</b></p>
                </div>
            </div>
            <div class="productCon">
            	<div class="productImage">
            		<a href="#"><img src="images/fashionBoy.jpg" /></a>
            		<a href="product_detail.html" class="viewDetail"></a>
            	</div>
                <div class="productTxt">
                	<h3 class="productName"><a href="#"><b>Product Name</b></a></h3>
            		<p><b>IDR. 123.456</b></p>
                </div>
            </div>
            <div class="productCon">
            	<div class="productImage">
            		<a href="#"><img src="images/fashionBoy.jpg" /></a>
            		<a href="product_detail.html" class="viewDetail"></a>
            	</div>
                <div class="productTxt">
                	<h3 class="productName"><a href="#"><b>Product Name</b></a></h3>
            		<p><b>IDR. 123.456</b></p>
                </div>
            </div>
            <div class="productCon">
            	<div class="productImage">
            		<a href="#"><img src="images/fashionBoy.jpg" /></a>
            		<a href="product_detail.html" class="viewDetail"></a>
            	</div>
                <div class="productTxt">
                	<h3 class="productName"><a href="#"><b>Product Name</b></a></h3>
            		<p><b>IDR. 123.456</b></p>
                </div>
            </div>
            <div class="productCon">
            	<div class="productImage">
            		<a href="#"><img src="images/fashionBoy.jpg" /></a>
            		<a href="product_detail.html" class="viewDetail"></a>
            	</div>
                <div class="productTxt">
                	<h3 class="productName"><a href="#"><b>Product Name</b></a></h3>
            		<p><b>IDR. 123.456</b></p>
                </div>
            </div>
            <div class="productCon">
            	<div class="productImage">
            		<a href="#"><img src="images/fashionBoy.jpg" /></a>
            		<a href="product_detail.html" class="viewDetail"></a>
            	</div>
                <div class="productTxt">
                	<h3 class="productName"><a href="#"><b>Product Name</b></a></h3>
            		<p><b>IDR. 123.456</b></p>
                </div>
            </div>
            <div class="productCon">
            	<div class="productImage">
            		<a href="#"><img src="images/fashionBoy.jpg" /></a>
            		<a href="product_detail.html" class="viewDetail"></a>
            	</div>
                <div class="productTxt">
                	<h3 class="productName"><a href="#"><b>Product Name</b></a></h3>
            		<p><b>IDR. 123.456</b></p>
                </div>
            </div>
            <div class="productCon">
            	<div class="productImage">
            		<a href="#"><img src="images/fashionBoy.jpg" /></a>
            		<a href="product_detail.html" class="viewDetail"></a>
            	</div>
                <div class="productTxt">
                	<h3 class="productName"><a href="#"><b>Product Name</b></a></h3>
            		<p><b>IDR. 123.456</b></p>
                </div>
            </div>
            <div class="productCon">
            	<div class="productImage">
            		<a href="#"><img src="images/fashionBoy.jpg" /></a>
            		<a href="product_detail.html" class="viewDetail"></a>
            	</div>
                <div class="productTxt">
                	<h3 class="productName"><a href="#"><b>Product Name</b></a></h3>
            		<p><b>IDR. 123.456</b></p>
                </div>
            </div>
            <div class="productCon">
            	<div class="productImage">
            		<a href="#"><img src="images/fashionBoy.jpg" /></a>
            		<a href="product_detail.html" class="viewDetail"></a>
            	</div>
                <div class="productTxt">
                	<h3 class="productName"><a href="#"><b>Product Name</b></a></h3>
            		<p><b>IDR. 123.456</b></p>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
    	<div class="footerBox">
        	<div class="footerTop">
                <div class="footer400">
                	<div class="footerImg">
                    </div>
                    <div class="torioUpdate">
                    	<h3 class="blueFooter">Get Torio Updates</h3>
                        <div class="longBar"></div>
                        <p class="blue14">Put Your Email Below</p>
                        <form>
                        	<input class="emailTxt" type="text" /></input>
                            <input class="emailBtn" type="submit" value=""></input>
                        </form>
                        <p class="blue10">And Enjoy special privileges from us.</p>
                    </div>
                </div>
                <div class="footer160">
                	<h3 class="blueFooter">Help</h3>
                	<div class="shortBar"></div>
                	<ul>
                    	<li><a href="#">Payment Confirmation</a></li>
                    	<li><a href="#">Customer Care</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Return &ampl Exchange</a></li>
                        <li><a href="#">Ordering</a></li>
                    </ul>
                </div>
                <div class="footer160">
                	<h3 class="blueFooter">About Torio Kids</h3>
                	<div class="shortBar"></div>
                	<ul>
                    	<li><a href="#">Our Story</a></li>
                        <li><a href="#">People</a></li>
                        <li><a href="#">Our Values</a></li>
                        <li><a href="#">News</a></li>
                    </ul>
                </div>
                <div class="footer160">
                	<h3 class="blueFooter">Connect With Us</h3>
                	<div class="shortBar"></div>
                	<ul>
                    	<li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Pinterest</a></li>
                    </ul>
                </div>
            </div>
            <div class="footerBot">
                <div class="footerLeft">
                    <a href="#">Term of use</a>
                    <a href="#">Privacy Policy</a>
                </div>
                <div class="footerRight">
                    Copyright 2013 © Torio Kids. All rights reserved.
                </div>
             </div>
        </div>
    </div>
</div>
</body>
</html>
