<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="target-densitydpi=device-dpi; width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="HandheldFriendly" content="true" />
<title>Torio Kids</title>
<link href="css/fontAttach/stylesheet.css" rel="stylesheet" type="text/css" />
<link href="css/torio.css" rel="stylesheet" type="text/css" />
<link href="css/jquery.bxslider.css" rel="stylesheet" type="text/css">
<link href="css/jquery.jscrollpane.css" rel="stylesheet" type="text/css">
<script> var base_url='';</script>
<script type="text/javascript" src="js/jquery.min.1.8.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.validationEngine.js"></script>
<script type="text/javascript" src="js/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="js/jquery.uniform.js"></script>
<script type="text/javascript" src="js/jquery.slides.min.js"></script>
<script type="text/javascript" src="js/jquery.bxSlider.min.js"></script>
<script type="text/javascript" src="js/combodate.js"></script>
<script type="text/javascript" src="js/moment.min.js"></script> 
<script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/mwheelIntent.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->
</head>

<body>
<div id="container">
	<header id="headerCon">
    	<div class="headerBox">
    		<div id="logoContainer"><h1><a id="logo" href="index.html" title="Torio Kids">Torio Kids</a></h1>
        	</div>
            <div class="headerRight">
            	<div class="headerRightTop">
                    <div class="login">
                    	Please <a class="loginBtn" href="#">login</a> or <a class="regBtn" href="#">register</a> here
                    </div>
                    <p>Welcome, Guest!</p>
                </div>
                <div class="headerRightBot">
                	<div class="shoppingCart">
                    	<div class="shoppingCartLeft">
                        	<div class="notif"><a href="#" class="notifNumber">01</a></div>
                        </div>
                        <div class="shoppingCartRight">
                        	<p class="bigBlueColor">IDR. 500.000</p>
                            <form><input type="submit" class="checkoutBtn" value="Checkout" /></form>
                        </div>
        			</div>
                </div>
            </div>
            <a href="#" class="menuMobile"></a>
            <div class="qtyCartMobileBox">
            	<div class="qtyCartMobile">
            		<div class="notif"><a href="#" class="notifNumber">99</a></div>
        		</div>
           	</div>
        </div>
    </header>
    <nav id="navCon">
    	<div class="navBox">
            <div class="navMenu">
            	<ul>
                    <li><a href="product_landing.html">Baby Boy</a>
                		<ul>
                    		<li><a href="product_list.html">New Arrivals</a></li>
                        	<li><a href="product_list.html">Toddler</a></li>
                        	<li><a href="product_list.html">Infant</a></li>
                        </ul>
                    </li>
                    <li><a href="product_landing.html">Baby Girl</a>
                    	<ul>
                    		<li><a href="product_list.html">New Arrivals</a></li>
                        	<li><a href="product_list.html">Toddler</a></li>
                        </ul></li>
                    <li><a href="product_landing.html">Boys</a>
                    	<ul>
                    		<li><a href="product_list.html">New Arrivals</a></li>
                    	</ul>
                    </li>
                    <li><a href="product_landing.html">Girls</a></li>
                    <li><a href="product_landing.html">Clearance Sale</a>
                        <ul>
                            <li><a href="product_list.html">New Arrivals</a></li>
                            <li><a href="product_list.html">Toddler</a></li>
                            <li><a href="product_list.html">Infant</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="searchBox">
            	<div class="searchBoxLeft">Search
                </div>
                <div class="searchBoxRight">
                <form>
                	<input class="searchBoxInputTxt" type="text" /><input class="searchBoxInputBtn" type="submit" />
                </form>
                </div>
            </div>
        </div>
    </nav>
    <section id="content">
    	<div class="boxConNoBg">
       	  	<h2>Thank You for Shopping with TorioKids.com!</h2>
            <div class="orderNo">
            	<p>Your order no.: <span class="orderNoTxt">T/13/07/08/001</span></p>
            </div>
            <p>You will receive an order confirmation email with details of your order and a link to track its progress.
            <br><br>
            If you have an account, you can view your order status and history from the "<a href="#">My Orders</a>" menu in your profile.</p>
            <p>&nbsp;</p>
            <p>Click here to <a href="#">print a copy</a> of your order confirmation.</p>
            <p>&nbsp;</p>
            <h3 style="color:#D4155B">WISHING YOU AND YOUR LOVED ONES A JOYFUL DAY!</h3>
            
            <div class="transferInfo" style="text-align:left; margin:50px 110px 0;">
                <h3 style="color:#8CC63F">Bank Transfer Information</h3><br>
                <p>Langkah pembayaran dengan Manual Transfer BCA:</p>
                <ol>
                    <li><p>Catatlah nomor order Anda: T/13/07/08/001.</p></li>
                    <li><p>Transfer jumlah total ke account<br>
                        <strong style="color:#9E005D;">
                        a/n PT Torio Multi Nasional<br>
                        253.351.3000<br>
                        BCA Green Garden</strong><br>
                        Masukan nomor order Anda di keterangan dan simpan struk/email sebagai bukti.<br>
                        Pembayaran harus dilakukan paling lambat dua hari dari tanggal order, atau order otomatis dibatalkan.</p></li>
                    <li><p>Konfirmasi pembayaran Anda di <a href="#">halaman konfirmasi dengan mengklik link ini</a>.</p></li>
                    <li><p>Setelah Anda mengkonfirmasi, maka kami baru memulai memproses order Anda. Update status order akan dikabarkan melalui email.
                    Bila Anda <a href="#registerSection">mendaftarkan diri sebagai member</a>, Anda dapat melakukan tracking order.
                    	<br>
                        <!--or-->
                    	Anda dapat melakukan <a href="#">tracking order di halaman ini</a>.</p></li>
                </ol>
            </div>
            <br><br>
            <h2 id="registerSection">What's Next?</h2>
            With an account, you will gain more benefits and be able to access your order history for easy reorders.<br>
            </p>
            <div class="accountCon">
            	<div class="accountLeft">
                	<table>
                    	<tr>
                        	<td>Password</td>
                            <td><input type="password"></td>
                        </tr>
                        <tr>
                        	<td>Confirm Password</td>
                            <td><input type="password"></td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td><a href="#" class="createAccBtn">Create Account</a></td>
                        </tr>	
                    </table>
                </div>
                <div class="accountRight">
                	<h4>Benefits of having an account:</h4>
                    <ul>
                    	<li>View your order status</li>
                        <li>Get promotions directly to your email</li>
                        <li>Get updates faster than anyone else</li>
                        <li>Shop faster and easier!</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="btnBgThx"><a href="#">Back to Homepage</a></div>
    </section>
    <footer id="footerCon">
    	<div class="footerBox">
        	<div class="footerTop">
                <div class="footer400">
                	<div class="footerImg">
                    </div>
                    <div class="torioUpdate">
                    	<h3 class="blueFooter">Get Torio Updates</h3>
                        <div class="longBar"></div>
                        <p class="blue14">Put Your Email Below</p>
                        <form>
                        	<input class="emailTxt" type="text" /></input>
                            <input class="emailBtn" type="submit" value=""></input>
                        </form>
                        <p class="blue10">And Enjoy special privileges from us.</p>
                    </div>
                </div>
                <div class="footer160">
                	<h3 class="blueFooter">Help</h3>
                	<div class="shortBar"></div>
                	<ul>
                    	<li><a href="#">Payment Confirmation</a></li>
                    	<li><a href="#">Customer Care</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Return &ampl Exchange</a></li>
                        <li><a href="#">Ordering</a></li>
                    </ul>
                </div>
                <div class="footer160">
                	<h3 class="blueFooter">About Torio Kids</h3>
                	<div class="shortBar"></div>
                	<ul>
                    	<li><a href="#">Our Story</a></li>
                        <li><a href="#">People</a></li>
                        <li><a href="#">Our Values</a></li>
                        <li><a href="#">News</a></li>
                    </ul>
                </div>
                <div class="footer160">
                	<h3 class="blueFooter">Connect With Us</h3>
                	<div class="shortBar"></div>
                	<ul>
                    	<li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Pinterest</a></li>
                    </ul>
                </div>
            </div>
            <div class="navMobile">
            	<ul>
                    <li><a href="#">About Torio Kids</a></li>
                    <li>&bull;<a href="#">Store Location</a></li>
                    <li>&bull;<a href="#">Contact Us</a></li>
                    <li>&bull;<a href="#">FAQs</a></li>
                    <li>&bull;<a href="#">Privacy Policy</a></li>
                    <li>&bull;<a href="#">Terms</a></li>
                </ul>
            </div>
            <div class="footerBot">
                <div class="footerLeft">
                    <img alt="BCA, VISA, MasterCard Logo" title="Torio accepts payment from BCA, VISA and MasterCard" src="images/bank-logo.png">
                </div>
                <div class="footerRight">
                    Copyright 2013 © Torio Kids. All rights reserved. | Website by <a href="www.isysedge.com">ISYS</a>
                </div>
             </div>
        </div>
    </footer>
    <div class="sideMenuPopup">
        <div class="overlayTrans"></div>
        <div class="sideMenuBox">
            <div class="sideMenuContent">
                <div class="loginButton">
                    <a href="#" class="signIn">Sign In</a>
                    <a href="#" class="reg">Register</a>
                </div>
                <ul class="categorySideMobile">
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Girls</a></li>
                    <li><a href="#">Boys</a></li>
                    <li><a href="#">Sale</a></li>
                    <li><a href="#">Best Seller</a></li>
                </ul>
                <ul class="footerSideMobile">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Store Location</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
        	</div>
		</div>
    </div>
</div>
</body>
</html>
