<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>About Us | Torio Kids 2016</title>
<meta name="viewport" content="target-densitydpi=device-dpi; width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="HandheldFriendly" content="true" />
<link rel="stylesheet" type="text/css" href="css/fontAttach/fontattach.css">
<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="css/lightbox.css">
<link rel="stylesheet" type="text/css" href="css/selectordie.css">
<link rel="stylesheet" type="text/css" href="css/toriokids2016.css">
<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/selectordie.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>

<body>
	<div class="wrapper">
    	<header>
        	<div class="mainLogo">
            	<img src="images/toriologo.png">
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="#">BOYS</a>
                    <div class="dropdownMenu">
                        <ul>
                            <li><a href="#">Jumper / Dungaree Sets</a></li>
                            <li><a href="#">Top & Bottom Sets</a></li>
                            <li><a href="#">Tees & Tops</a></li>
                            <li><a href="#">Bottoms</a></li>
                            <li><a href="#">Pajamas</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">GIRLS</a>
                    <div class="dropdownMenu">
                        <ul>
                            <li><a href="#">Jumper / Dungaree Sets</a></li>
                            <li><a href="#">Top & Bottom Sets</a></li>
                            <li><a href="#">Tees & Tops</a></li>
                            <li><a href="#">Bottoms</a></li>
                            <li><a href="#">Pajamas</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">BEST SELLER</a></li>
                <li><a href="#">SALE</a></li>
            </ul>
        </nav>
        <div class="userNav">
            <ul>
                <li><a href="#" class="profileIcon">profile</a></li>
                <li><a href="javascript:void(0)" class="searchIcon" onClick="show_search_popup();">search</a></li>
                <li><a href="#" class="cartIcon">cart</a></li>
            </ul>
        </div>
        <section>
        	<div class="contentWrapper">
                <div class="mainWrapper banner">
                	<div class="banner">
                    	<img src="../userdata/aboutusBG.jpg">
                        <h1>about us</h1>
                    </div>
                    <div class="aboutusWrapper">
                    	<div class="aboutusPanel">
                        	<div class="aboutusBox">
                            	<div class="contentElement">
                                    <div class="wrapLeft">
                                        <img src="../userdata/aboutusImg1.png">
                                    </div>
                                    <h3>Our story</h3>
                                    <p>Torio was born in 1992 and began its journey as a retail brand specializing in high end children wear within the Indonesian market. Our international collections, inspired by the European’s fashionable design spread far and wide, and by 1996 have been featured in more than 7 independent Torio show rooms and in multiple department stores in Jakarta.</p>
                                </div>
                            </div>
                        </div>
                        <div class="aboutusPanel">
                        	<div class="aboutusBox">
                            	<div class="contentElement">
                                    <div class="wrapRight">
                                        <img src="../userdata/aboutusImg2.png">
                                    </div>
                                    <h3>Our Partnership</h3>
                                    <p>To focus better on the ever increasing demand in the global market and with Torio’s new partnership with Walt Disney Company, Torio in 2007 briefly ends its expansion in Indonesia and swift its full aim to focus on the international market.</p>
                                </div>
                            </div>
                        </div>
                        <div class="aboutusPanel">
                        	<div class="aboutuspoinBox">
                            	<div class="aboutusPoin">
                                	<div class="contentElement">
                                        <img src="../userdata/aboutusPoin1.png">
                                        <h3>quality</h3>
                                        <p>Let them play tough, our clothes are tougher! We use only the best quality, New Zealand designed fabrics – so you’ll be handing down your Pumpkin Patch purchases for years to come.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="aboutuspoinBox">
                            	<div class="aboutusPoin">
                                	<div class="contentElement">
                                        <img src="../userdata/aboutusPoin2.png">
                                        <h3>style</h3>
                                        <p>Right on trend and bang on budget, our gorgeous gear dresses your little ones perfectly for any occasion - whether they’re on a playdate or the star of the show.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="aboutuspoinBox">
                            	<div class="aboutusPoin">
                                	<div class="contentElement">
                                        <img src="../userdata/aboutusPoin3.png">
                                        <h3>comfort</h3>
                                        <p>Designed for play and for comfort, our clothes are made from soft, stretchy fabrics with expandable waists that grow with your child, smooth seams and no scratchy, itchy bits.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mediaBox">
                	<div class="subscribeBox">
                    	<input placeholder="Sign Up Your Email &amp; Get Updates">
                        <a href="#" class="subscribeBtn">SUBSCRIBE</a>
                    </div>
                    <div class="fbLink">
                    	<p>Get Connected with Us</p>
                        <a href="#" class="facebookBtn">Facebook</a>
                    </div>
                </div>
                <div class="storepartnerSection">
                	<p>Find Out the Quality of Torio Kids at</p>
                    <div class="storeList">
                        <ul>
                            <li><a href="#"><img src="../userdata/iconsogo.png"></a></li>
                            <li><a href="#"><img src="../userdata/iconcentral.png"></a></li>
                            <li><a href="#"><img src="../userdata/iconlotte.png"></a></li>
                            <li><a href="#"><img src="../userdata/iconlotus.png"></a></li>
                            <li><a href="#"><img src="../userdata/iconaeonmall.png"></a></li>
                        </ul>
                    </div>
                    <div class="directChannel"><a href="#" class="orangeLink">Find Out Our Direct Channel</a></div>
                    <p>Our Product also Available at</p>
                    <div class="partnerList">
                        <ul>
                            <li><a href="http://babyzania.com/en/torio" target="_blank"><img src="../userdata/iconbabyzania.png"></a></li>
                            <li><a href="http://www.bilna.com/bp/torio" target="_blank"><img src="../userdata/iconbilna.png"></a></li>
                            <li><a href="https://www.blibli.com/brand/torio" target="_blank"><img src="../userdata/iconblibli.png"></a></li>
                            <li><a href="http://www.elevenia.co.id/search?q=torio" target="_blank"><img src="../userdata/iconelevenia.png"></a></li>
                            <li><a href="http://www.lazada.co.id/torio/" target="_blank"><img src="../userdata/iconlazada.png"></a></li>
                            <li><a href="https://www.mataharimall.com/store/834/torio" target="_blank"><img src="../userdata/iconmataharimall.png"></a></li>
                            <li><a href="http://www.popazop.com/merchants/torio" target="_blank"><img src="../userdata/iconpopazop.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <footer>
        	<div class="upperNav">
            	<ul>
                	<li><a href="#">ABOUT TORIO KIDS</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">STORE</a></li>
                    <li><a href="#">E-CHANNEL</a></li>
                    <li><a href="#">NEED HELP?</a></li>
                    <li><a href="#">PAYMENT CONFIRMATION</a></li>
                </ul>
                <div class="bankLink">
                	<p>Secure Payments via</p>
                    <img src="images/bankicon.png">
                </div>
            </div>
            <div class="bottomNav">
            	<ul>
                	<li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
                <p>Copyright 2016 &copy; Torio Kids. All rights reserved.</p>
            </div>
        </footer>
    </div>
    <div class="popupWrapper">
    	<div class="overlay" onClick="hide_popup();"></div>
        <div class="popupBox" id="searchPopup">
            <a href="javascript:void(0)" class="closeBtn" onClick="hide_popup();"></a>
            <h3>SEARCH</h3>
            <input placeholder="Search Here" id="searchText">
            <a href="#" class="defBtn">Search Your Style</a>
        </div>
    </div>
</body>
</html>
