<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Shipping Method | Torio Kids 2016</title>
<meta name="viewport" content="target-densitydpi=device-dpi; width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="HandheldFriendly" content="true" />
<link rel="stylesheet" type="text/css" href="css/fontAttach/fontattach.css">
<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="css/lightbox.css">
<link rel="stylesheet" type="text/css" href="css/selectordie.css">
<link rel="stylesheet" type="text/css" href="css/toriokids2016.css">
<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/selectordie.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>

<body>
	<div class="wrapper">
    	<header>
        	<div class="mainLogo">
            	<img src="images/toriologo.png">
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="#">BOYS</a>
                    <div class="dropdownMenu">
                        <ul>
                            <li><a href="#">Jumper / Dungaree Sets</a></li>
                            <li><a href="#">Top & Bottom Sets</a></li>
                            <li><a href="#">Tees & Tops</a></li>
                            <li><a href="#">Bottoms</a></li>
                            <li><a href="#">Pajamas</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">GIRLS</a>
                    <div class="dropdownMenu">
                        <ul>
                            <li><a href="#">Jumper / Dungaree Sets</a></li>
                            <li><a href="#">Top & Bottom Sets</a></li>
                            <li><a href="#">Tees & Tops</a></li>
                            <li><a href="#">Bottoms</a></li>
                            <li><a href="#">Pajamas</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">BEST SELLER</a></li>
                <li><a href="#">SALE</a></li>
            </ul>
        </nav>
        <div class="userNav">
            <ul>
                <li><a href="#" class="profileIcon">profile</a></li>
                <li><a href="javascript:void(0)" class="searchIcon" onClick="show_search_popup();">search</a></li>
                <li><a href="#" class="cartIcon">cart</a></li>
            </ul>
        </div>
        <section>
        	<div class="contentWrapper">
            	<div class="mainWrapper nobanner">
                	<div class="customerWrapper">
                        <h3>Shipping method</h3>
                        <div class="breadCrumb">
                        	<ul>
                            	<li><a href="#">Customer Information ></a></li>
                            	<li>Shipping Method ></li>
                                <li><a href="#">Payment Method</a></li>
                            </ul>
                        </div>
                        <div class="customerdataBox">
                        	<div class="customerData loggedin">
                            	<h2>choose your shipping method</h2>
                                <ul class="methodTab">
                                	<li><input type="radio" name="method" class="methodTab" id="method1"><label for="method1"><span></span>Reguler<p>Estimated delivery time 2-3 days</p></label></li>
                                    <li><input type="radio" name="method" class="methodTab" id="method2"><label for="method2"><span></span>Express<p>Estimated delivery time 1-2 days</p></label></li>
                                </ul>
                                <div class="customerAddress">
                                	<p>
                                    <span class="customerName">Viola Yosiana</span><br>
                                    +62 81807040869<br>
                                    violayosiana@yahoo.com<br>
                                    Gunung Merapi Blok A9 No. 18<br>
                                    Perumahan Bugel Indah<br>
                                    Tangerang, Banten<br>
                                    15113
                                    </p>
                                    <a href="#" class="editAddress">Edit Shipping Address</a>
                                </div>
                            </div>
                            <div class="customerorderData">
                            	<div class="itemPanel">
                                    <div class="itemBox">
                                        <div class="image">
                                            <img>
                                        </div>
                                        <div class="data">
                                            <p class="productName">Classic Blue Checkered Dungaree</p>
                                            <p class="productCategory">Size: Newborn | Qty: 1</p>
                                        </div>
                                    </div>
                                    <div class="itemPrice">
                                        <p>Rp 359.000,-</p>
                                    </div>
                            	</div>
                                <div class="itemPanel">
                                    <div class="itemBox">
                                        <div class="image">
                                            <img>
                                        </div>
                                        <div class="data">
                                            <p class="productName">Classic Blue Checkered Dungaree</p>
                                            <p class="productCategory">Size: Newborn | Qty: 2</p>
                                        </div>
                                    </div>
                                    <div class="itemPrice">
                                        <p>Rp 718.000,-</p>
                                    </div>
                            	</div>
                                <div class="itemPanel">
                                    <div class="itemBox">
                                        <div class="image">
                                            <img>
                                        </div>
                                        <div class="data">
                                            <p class="productName">Classic Blue Checkered Dungaree</p>
                                            <p class="productCategory">Size: Newborn | Qty: 1</p>
                                        </div>
                                    </div>
                                    <div class="itemPrice">
                                        <p>Rp 359.000,-</p>
                                    </div>
                            	</div>
                                <table>
                                	<tr>
                                    	<td>SUBTOTAL</td>
                                        <td>Rp 1.436.000,-</td>
                                    </tr>
                                    <tr>
                                    	<td>Discount</td>
                                        <td>Rp 50.000,-</td>
                                    </tr>
                                    <tr>
                                    	<td>Shipping</td>
                                        <td>Rp 41.000,-</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2"><p>(Estimated Day 10- days)</p></td>
                                    </tr>
                                    <tr>
                                    	<td>TOTAL</td>
                                        <td>Rp 1.427.000,-</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="buttonArea">
                        	<a href="#" class="defBtn">CONTINUE to payment METHOD</a>
                            <a href="#" class="returnShop">< Return to customer information</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
        	<div class="upperNav">
            	<ul>
                	<li><a href="#">ABOUT TORIO KIDS</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">STORE</a></li>
                    <li><a href="#">E-CHANNEL</a></li>
                    <li><a href="#">NEED HELP?</a></li>
                    <li><a href="#">PAYMENT CONFIRMATION</a></li>
                </ul>
                <div class="bankLink">
                	<p>Secure Payments via</p>
                    <img src="images/bankicon.png">
                </div>
            </div>
            <div class="bottomNav">
            	<ul>
                	<li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
                <p>Copyright 2016 &copy; Torio Kids. All rights reserved.</p>
            </div>
        </footer>
    </div>
    <div class="popupWrapper">
    	<div class="overlay" onClick="hide_popup();"></div>
        <div class="popupBox" id="searchPopup">
            <a href="javascript:void(0)" class="closeBtn" onClick="hide_popup();"></a>
            <h3>SEARCH</h3>
            <input placeholder="Search Here">
            <a href="#" class="defBtn">Search Your Style</a>
        </div>
    </div>
</body>
</html>
