<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Terms &amp; Condition | Torio Kids 2016</title>
<meta name="viewport" content="target-densitydpi=device-dpi; width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="HandheldFriendly" content="true" />
<link rel="stylesheet" type="text/css" href="css/fontAttach/fontattach.css">
<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="css/lightbox.css">
<link rel="stylesheet" type="text/css" href="css/selectordie.css">
<link rel="stylesheet" type="text/css" href="css/toriokids2016.css">
<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/selectordie.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>

<body>
	<div class="wrapper">
    	<header>
        	<div class="mainLogo">
            	<img src="images/toriologo.png">
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="#">BOYS</a>
                    <div class="dropdownMenu">
                        <ul>
                            <li><a href="#">Jumper / Dungaree Sets</a></li>
                            <li><a href="#">Top & Bottom Sets</a></li>
                            <li><a href="#">Tees & Tops</a></li>
                            <li><a href="#">Bottoms</a></li>
                            <li><a href="#">Pajamas</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">GIRLS</a>
                    <div class="dropdownMenu">
                        <ul>
                            <li><a href="#">Jumper / Dungaree Sets</a></li>
                            <li><a href="#">Top & Bottom Sets</a></li>
                            <li><a href="#">Tees & Tops</a></li>
                            <li><a href="#">Bottoms</a></li>
                            <li><a href="#">Pajamas</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">BEST SELLER</a></li>
                <li><a href="#">SALE</a></li>
            </ul>
        </nav>
        <div class="userNav">
            <ul>
                <li><a href="#" class="profileIcon">profile</a></li>
                <li><a href="javascript:void(0)" class="searchIcon" onClick="show_search_popup();">search</a></li>
                <li><a href="#" class="cartIcon">cart</a></li>
            </ul>
        </div>
        <section>
        	<div class="contentWrapper">
                <div class="mainWrapper nobanner">
                	<div class="legalAgreement">
                    	<div class="contentElement">
                        	<h2>terms &amp; conditions</h2>
                            <p>TorioKids.com adalah jasa online yang dimiliki dan dioperasikan oleh P.T. Torio Multi Nasional. Segala aktifitas dan aturan yang bersangkutan langsung dengan website ini akan sepenuhnya diatur oleh syarat dan ketentuan di bawah ini.</p>
							<br>
							<p>Dalam waktu yang tidak ditentukan syarat dan ketentuan akan berubah. Penggunaan anda atas website ini harus mengikuti setiap perubahan yang merupakan bagian dari perjanjian dan terikat oleh persyaratan sesuai dengan perubahan yang ada tanpa terkecuali.</p>
							<br>
							<h4>Barang dan Jasa</h4>
							<p>P.T. Torio Multi Nasional merupakan perusahaan ritel yang memperjual belikan barang fashion dan retail.</p>
							<br>
							<h4>Kebijakan Pemesanan</h4>
                            <ul>
                                <li>Pelanggan terlebih dahulu memilih produk yang ingin dengan meng-klik “Beli.”</li>
                                <li>Setelah pesanan masuk ke keranjang belanja, pelanggan dapat memilih untuk menambah pesanan belanja atau Checkout untuk proses selanjutnya.</li>
                                <li>Dalam proses checkout pelanggan diminta untuk login terlebih dahulu atau membuat registrasi baru.</li>
                                <li>Kemudian pelanggan harus mengikuti 3 langkah checkout seperti berikut:
                                    <ul>
                                        <li>Alamat KTP dan Alamat Billing Statement : Pelanggan diminta untuk mengupdate alamat pengiriman lain jika ada.</li>
                                        <li>Payment Method : Pelanggan diminta untuk memilih jenis pembayaran.</li>
                                        <li>Confirm Order : Pelanggan diminta untuk menyetujui ketentuan yang berlaku di TORIO KIDS (setelah proses ini pelanggan akan mendapatkan email tentang informasi pemesanan).</li>
                                    </ul>
                                </li>
                           	</ul>
                            <br>
                            <h4>Kebijakan Pembayaran</h4>
							<p>Kami memberikan beberapa metode pembayaran:</p>
                            <ul>
                                <li>Pembayaran dengan Credit Cards : Visa and Mastercard.</li>
                                <li>Pembayaran dengan Internet Banking.</li>
                                <li>Pembayaran dengan Virtual Account.</li>
                                <li>Pembayaran dengan transfer ke rekening kami.</li>
                            </ul>
							<br>
							<p>Khusus pembayaran dengan kartu kredit, pelanggan harus meng-klik submit untuk proses pembayaran online dan memasukan data pemegang kartu kredit.</p>
							<br>
							<p>Kami tidak bertanggung jawab atas penyalahgunaan kartu kredit atau alat pembayaran apapun yang merupakan hak milik anda dan di luar jangkauan pengawasan kami.</p>
							<br>
							<p>Pembayaran melalui transfer bank harus melakukan konfirmasi pembayaran dengan memilih salah satu metode:</p>
							<ul>
                            	<li>Mengisi form konfirmasi yang ada di menu “Payment Confirmation”</li>
								<li>Kirim Email ke <a href="#">order@TorioKids.com</a> atau <a href="#">cs@TorioKids.com</a> dengan di dalam isi mencantumkan Nama, Nomor telpon, Nomor order, Jumlah transfer, bank transfer.</li>
                            </ul>
							<br>
							<p>Setiap member otomatis akan terdaftar dengan www.stamps.co.id disaat melakukan transaksi dan pembayaran di www.toriokids.com.</p>
							<br>
							<p>Registrasi dengan Stamps adalah gratis dan tanpa biaya, dimana member akan mendapatkan poin untuk setiap pembelanjaan dan dapat digunakan untuk ditukarkan dengan reward-reward yang menarik.</p>
							<br>
							<p>Mata uang yang digunakan dan berlaku sah dalam pembelian pada website ini adalah dalam Indonesia Rupiah (IDR). <strong>(Semua transaksi akan diproses dalam mata uang Rupiah).</strong></p>
							<br>
							<p><strong>Semua transaksi akan diproses dalam kurun waktu 1x 24 jam.</strong></p>
							<br>
							<p><strong>Customer kemudian diwajibkan untuk menyelesaikan pembayaran dan apabila transaksi pembayaran telah berhasil dilakukan, kami akan mengirimkan tanda terima pembayaran melalui surat elektronik (e-mail) kepada alamat e-mail yang tercantum dalam data pribadi pembeli dalam waktu max 1 (satu) hari setelah proses pembayaran selesai dilakukan.</strong></p>
							<br>
							<p><strong>Bukti Transaksi (Invoice)</strong></p>
                            <ul>
                                <li>Invoice merupakan bukti transaksi yang sah sebagai bukti pemesanan dan pembelian dan sebagai acuan referensi pembelian Anda.</li>
                                <li><strong>Anda dihimbau untuk menyimpan invoice dari setiap pembelian anda yang mungkin akan berguna untuk pelayanan setelah pembelian.</strong> (Simpan bukti pembayaran bila sewaktu2 diperlukan).</li>
							</ul>
							<br>
							<h4>Kebijakan pengembalian barang, pengembalian dana (refund) dan pembatalan (cancellation)</h4>
							<p>Kami tidak melayani pengembalian barang kecuali apabila ada kesalahan dari pihak kami dan di luar dari yang sudah ditetapkan dalan syarat dan ketentuan pada halaman ini. Pengembalian barang yang terjadi di luar dari kesepakatan penyelesain masalah pembelian yang telah disetujui kedua belah pihak bukan merupakan tanggung jawab dan bagian dari pelayanan kami. Kami tidak bertanggung jawab atas barang yang anda kembalikan karena secara sah barang tersebut sudah menjadi hak milik dan tanggung jawab anda.</p>
                            <ul>
                            	<li>Retur berlaku apabila barang yang di terima dalam keadaan rusak/cacat/aksesoris tidak lengkap.</li>
                            	<li>Refund berlaku apabila barang yang telah di pesan dan dibayar tidak ada stock dan akan kami kembalikan dlam bentuk Kredit Balance.</li>
                            </ul>
                            <p><strong>Pembatalan Pesanan (cancelation)dibatalkan secara sepihak apabila:</strong></p>
                            <ul>
                            	<li><strong>Anda belum melakukan pembayarandalam waktu 3x24 jam setelah order atau atas permintaan pelanggan.</strong></li>
                            	<li><strong>Kami belum menerima pembayaran anda.</strong></li>
                            	<li><strong>Tanggal berlaku pada invoice untuk order tersebut sudah kadaluarsa.</strong></li>
							</ul>
							<br>
							<h4>Kebijakan Pengiriman</h4>
                            <ul>
                                <li>Pengiriman produk akan dilakukan setelah TORIO KIDS melakukan verifikasi via email atau yahoo messenger atau melalui form konfirmasi atas pembayaran yang dilakukan pelanggan. Pelanggan dapat mengetahui status pemesanan melalui resi pengiriman yang dikirim lewat email.</li>
                                <li>Pengiriman pada hari yang sama, apabila pemesanan produk dan konfirmasi pembayaran dilakukan sebelum pukul 12.00 siang pada jam operasional.</li>
                                <li>Barang yang dikirim sudah diasuransikan.</li>
							</ul>
							<br>
							<h4>Kebijakan Privasi</h4>
							<p>Kami di TORIO KIDS menjaga privasi Anda dengan sangat serius. Kami percaya bahwa privasi elektronik sangat penting bagi keberhasilan berkelanjutan dari Internet.</p>
							<p>Kami percaya bahwa informasi ini hanya dan harus digunakan untuk membantu kami menyediakan layanan yang lebih baik. Itulah sebabnya kami telah menempatkan kebijakan untuk melindungi informasi pribadi Anda.</p>
							<br>
                            <br>
							<h4>Ringkasan Kebijakan kami</h4>
							<p>Secara umum, ketika Anda mengunjungi situs web kami dan mengakses informasi Anda akan tetap sebagai anonim. Sebelum kami meminta Anda untuk mengisi informasi, kami akan menjelaskan bagaimana informasi ini akan digunakan. Kami tidak akan memberikan informasi pribadi Anda kepada perusahaan lain atau individu tanpa se-izin Anda.</p>
							<br>
							<p>Beberapa bagian dari website kami memerlukan pendaftaran untuk mengaksesnya, walaupun biasanya semua yang diminta adalah berupaalamat e-mail dan beberapa informasi dasar tentang Anda.</p>
							<br>
							<p>Ada bagian di mana kami akan meminta informasi tambahan. Kami melakukan ini untuk dapat lebih memahami kebutuhan Anda, dan memberikan Anda palayanan yang kami percaya mungkin berharga bagi Anda. Beberapa contoh informasi website kami butuhkan seperti nama, email, alamat rumah, dan info pribadi. Kami memberikan Anda kesempatan untuk memilih untuk tidak menerima materi informasi dari kami.</p>
							<br>
							<h4>Melindungi privasi Anda</h4>
							<p>Kami akan mengambil langkah yang tepat untuk melindungi privasi Anda. Setiap kali Anda memberikan informasi yang sensitif (misalnya, nomor kartu kredit untuk melakukan pembelian), kami akan mengambil langkah-langkah yang wajar untuk melindungi, seperti enkripsi nomor kartu Anda. Kami juga akan mengambil langkah-langkah keamanan yang wajar untuk melindungi informasi pribadi Anda dalam penyimpanan.Nomor kartu kredit hanya digunakan untuk proses pembayaran dan bukan disimpan untuk tujuan pemasaran.</p>
                            <br>
							<p>Kami tidak akan memberikan informasi pribadi Anda kepada perusahaan lain atau individu tanpa izin Anda."Proses Proses order anda kami pastikan aman dengan protokol  Secure Sockets Layer (SSL) dimana SSL menyediakan setiap pelanggan keamanan penuh dan kebebasan untuk belanja online tanpa rasa khawatir mengenai kemungkinan pencurian informasi  kartu kredit"</p>
							<br>
							<h4>Penggunaan Cookie</h4>
							<p>Situs ini menggunakan "cookies" untuk mengidentifikasi sesi pengguna pada Website dan dengan demikian menawarkan kontinuitas sebagai anggota bergerak di sekitar lokasi. Cookie hanya digunakan pada Situs untuk menyimpan data yang non-kritis. Cookies adalah potongan informasi yang situs mentransfer ke hard drive komputer Anda untuk tujuan menyimpan catatan.</p>
							<br>
							<p>Cookie memungkinkan situs web untuk menjaga informasi pengguna di seluruh koneksi. Cookie berupa string kecil berupa karakter yang digunakan oleh banyak situs untuk mengirimkan data ke komputer Anda, dan dalam keadaan tertentu, mengembalikan informasi ke situs web. Cookie hanya berisi informasi bahwa anggota relawan, dan mereka tidak memiliki kemampuan infiltrasi hard drive pengguna dan mencuri informasi pribadi. Fungsi sederhana cookie adalah membantu pengguna menavigasi situs web dengan sebagai obstruksi sesedikit mungkin.</p>
							<br>
							<h4>Keamanan</h4>
							<p>Situs ini memiliki langkah-langkah keamanan untuk melindungi kehilangan, penyalahgunaan dan perubahan informasi di dalam kendali kita. Langkah-langkah ini meliputi metode perlindungan data dasar dan kompleks, dalam penyimpanan offline tertentu informasi dan securitizing server database kami.</p>
							<br>
							<p>Situs ini memberikan pilihan bagi para untuk menghapus informasi mereka dari database kami untuk tidak menerima informasi kedepannya atau untuk tidak lagi menerima layanan kami.</p>
							<br>
							<h4>Masukan, Saran, dan Pesan</h4>
							<p>Perkembangan dan peningkatan pelayanan kami tidak terlepas dari adanya masukan dari anda. Jika anda ingin memberi masukan, saran, atau pesan, Anda dapat menghubungi customer care kami di cs@TorioKids.com atau di halaman facebook kami www.facebook.com/toriokids atau dengan mudah mengisi form pesan kami di halaman customer service.</p>
							<br>
							<h4>Jam Operasional</h4>
							<p>Kami akan memproses formulir konfirmasi pembayaran pada hari dan waktu operasional kantor TORIO KIDS yaitu Senin-Jumat jam 08.30-17.30.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
        	<div class="upperNav">
            	<ul>
                	<li><a href="#">ABOUT TORIO KIDS</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">STORE</a></li>
                    <li><a href="#">E-CHANNEL</a></li>
                    <li><a href="#">NEED HELP?</a></li>
                    <li><a href="#">PAYMENT CONFIRMATION</a></li>
                </ul>
                <div class="bankLink">
                	<p>Secure Payments via</p>
                    <img src="images/bankicon.png">
                </div>
            </div>
            <div class="bottomNav">
            	<ul>
                	<li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
                <p>Copyright 2016 &copy; Torio Kids. All rights reserved.</p>
            </div>
        </footer>
    </div>
    <div class="popupWrapper">
    	<div class="overlay" onClick="hide_popup();"></div>
        <div class="popupBox" id="searchPopup">
            <a href="javascript:void(0)" class="closeBtn" onClick="hide_popup();"></a>
            <h3>SEARCH</h3>
            <input placeholder="Search Here" id="searchText">
            <a href="#" class="defBtn">Search Your Style</a>
        </div>
    </div>
</body>
</html>
